<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @rating.student_id %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @rating.skill_id %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @rating.teacher_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @rating.rating %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
