<div class="holder">
<div class="top_Bar">
    <div style="float:left">
     <div class="top_Common common">
                    <div class="common" style="border-radius:50%;background:#cccccc"><img src="" width="45px" height="45px"></div>
                    <div class="common"><div class="app-name">{{model.name}}</div><span style="font-size:12px">Chennai</span></div>
                </div>
  
        </div>
  
    <div style="clear:both"></div>
    
</div>
<div class="nav_Bar">
    <ul class="routes">
       
   
    </ul>
</div>
<div class="app_Content">
     <div class="button" style="width:100px;color:white;float:right;margin-right:25px;margin-top:20px">
{{#link-to 'student.edit' model  tagName ="span"}}
Edit  {{/link-to}}
</div>
        <div class="create_Pages" style="margin-top:60px">

           <div class="details_">


                <input id="student_id" type="hidden" value="{{model.id}}">

                  <div class=" tabDivCreate" >
                    <div class="labelTabCreate">Name</div>
                    <div class="labelValCreate nohover">
                        <span>{{model.name}}</span>
                    </div>
                    <div class="clearB"></div>
                </div>
                  <div class=" tabDivCreate" >
                    <div class="labelTabCreate">Email</div>
                    <div class="labelValCreate  nohover">
                     <span>{{model.email}}</span>
                     </div>
                    <div class="clearB"></div>
                </div>
                     <div class=" tabDivCreate" >
                    <div class="labelTabCreate">Date of Birth</div>
                    <div class="labelValCreate nohover" style="padding: 16px 0 5px 0!important;">
                        <span>{{model.dob}}</span>
                    </div>
                    <div class="clearB"></div>
                </div>
                  <div class=" tabDivCreate" >
                    <div class="labelTabCreate">Gender</div>
                     <div class="labelValCreate nohover" style="padding: 16px 0 5px 0!important;">
 <span>{{model.gender}}</span>
 </div>
<div class="clearB"></div>
                   
                    
                </div>
                      <div class=" tabDivCreate" >
                    <div class="labelTabCreate">Nationality</div>
                    <div class="labelValCreate nohover">
                      <span>{{model.nationality}}</span>
                    </div>
                    <div class="clearB"></div>
                </div>
                  <div class=" tabDivCreate" >
                    <div class="labelTabCreate">Address</div>
                    <div class="labelValCreate nohover">

                            <span>{{model.address}}</span>
                    </div>
                    <div class="clearB"></div>
                </div>
                      <div class="tabDivCreate">
                    <div class="labelTabCreate">Father</div>
                    <div class="labelValCreate nohover">
                        <span>{{model.fathername}}</span>
                    <div class="clearB"></div>
                </div>
                
            </div>
              <div class=" tabDivCreate">
                    <div class="labelTabCreate">Mother</div>
                    <div class="labelValCreate nohover">
                            <span>{{model.mothername}}</span>
                    </div>
                    <div class="clearB"></div>
                </div>
             </div>
            <div class="details_">

                  <div class=" tabDivCreate">
                    <div class="labelTabCreate">Spouse</div>
                    <div class="labelValCreate nohover">
                        <span>{{model.spouse_name}}</span>
                    </div>
                    <div class="clearB"></div>
                </div>
                  <div class=" tabDivCreate">
                    <div class="labelTabCreate">Primary School</div>
                    <div class="labelValCreate nohover">
                    <span>{{model.primary_school}}</span></div>
                    <div class="clearB"></div>
                </div>
                     <div class=" tabDivCreate" >
                    <div class="labelTabCreate"> Secondary School</div>
                    <div class="labelValCreate nohover">
                        <span>{{model.secondary_school}} </span>
                    </div>
                    <div class="clearB"></div>
                </div>

                    <div class=" tabDivCreate" >
                    <div class="labelTabCreate"> Senior Secondary School</div>
                    <div class="labelValCreate nohover">
                        <span>{{model.senior_secondary_school}}</span>
                    </div>
                    <div class="clearB"></div>
                </div>
                <div class=" tabDivCreate" >
                    <div class="labelTabCreate"> Higher Secondary School</div>
                    <div class="labelValCreate nohover">
                       <span>{{model.higher_secondary_school}}</span>
                    </div>
                    <div class="clearB"></div>
                </div>
                  <div class=" tabDivCreate" >
                    <div class="labelTabCreate">Graduation</div>
                    <div class="labelValCreate nohover">
                    <span>{{model.graduation}}</span>
                    </div>
                    <div class="clearB"></div>
                </div>

                   <div class=" tabDivCreate" >
                    <div class="labelTabCreate">Post Graduation</div>
                    <div class="labelValCreate nohover">
                    <span>{{model.post_graduation}}</span>
                    </div>
                    <div class="clearB"></div>
                </div>
                    <div class=" tabDivCreate" >
                    <div class="labelTabCreate">co-curricular</div>
                    <div class="labelValCreate  nohover">
                   
<span>{{model.co_curricular}}</span>
                    </div>
                    <div class="clearB"></div>
                </div>
                 <div class=" tabDivCreate" >
                    <div class="labelTabCreate">Extra curricular</div>
                    <div class="labelValCreate nohover">
                   
<span>{{model.extra_curricular}}</span>
                    </div>
                    <div class="clearB"></div>
                </div>
                 <div class=" tabDivCreate" >
                    <div class="labelTabCreate">Achievements</div>
                    <div class="labelValCreate nohover">
                   
<span>{{model.archivements}}</span>
                    </div>
                    <div class="clearB"></div>
                </div>
               
               
                  
                 
            </div>
     </div>
</div>

</div>


